{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}

{% block content %}
<div class="col-md-8 sobre">
    <h1>Sobre</h1>
    <p>Site de receitas, onde você pode criar e compartilhar as suas.</p>
    <h3>Usando: </h3>
    <ul>
        <li>Html/css/Bootstrap nos templates.</li>
        <li>Postgresql - Usando ArrayField para os ingredientes.</li>
        <li>Django - Todo projeto criado em Django 3.2</li>
        <li>Aws - Para as imagens.</li>
        <li>JavaScript - Para deletar receitas.</li>
    </ul>
    <span>By: <a href="https://github.com/cassio645">CASSIO645</a></span>
</div>
{% endblock %}
