{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas receitas{% endblock %}

{% block content %}

<div class="container-fluid minha-page">
    <div class="row">

        <!-- QUADRO COM AS INFORMAÇÕES DO USUÁRIO E SUAS RECEITAS -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5"  id="title-minhas">
                    {% if receitas %}
                        <h1>MINHAS RECEITAS</h1>
                    {% else %}
                        <h1 class="sem-receita">Você ainda não criou nenhuma receita.</h1>
                    {% endif %}
                </div>

                <div class="col-md-6 center perfil">
                    <h2>Sobre mim</h2>
                    <hr>
                    <table class="table-perfil">
                        <tr>
                            <td><strong>Nome:</strong> {{user}}</td>
                            <td><strong>Email:</strong> {{user.email}}</td>
                        </tr>
                        <tr>
                            <td><strong>Receitas criadas: </strong>{{ receitas.count }}</td>
                            <td><strong>Desde: </strong>{{user.date_joined|date:"d/m/Y"}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- LISTA DE CARDS DE RECEITAS DO USUÁRIO -->
        {% for receita in receitas %}
        <div class="col-md-4">
            <div class="card">
                <a href="/{{receita.id}}/">
                    <img src="{{ receita.imagem }}" class="card-img-top imagem-comida" alt="Imagem da Receita">
                    <div class="card-body">
                        <h5 class="card-title titulo-comida">{{ receita.titulo|title }}</h5>
                        <hr>
                        <table class="table table-borderless info-receita">
                            <tr>
                                <td class="td-title">Dificuldade:</td>
                                <td>{{ receita.dificuldade|title }}</td>
                            </tr>
                            <tr>
                                <td class="td-title">Rendimento:</td>
                                <td>
                                    {% if receita.rendimento != 1 %}
                                        {{ receita.rendimento|title }} porções
                                    {% else %}
                                        {{ receita.rendimento|title }} porção
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
                
                <!-- BOTOES PARA EDITAR E DELETAR -->
                <div class="botoes">
                    <a href="{% url 'receitas:editar' pk=receita.id %}">
                        <input type="submit" value="Editar" class="update_delete" id="editar">
                    </a>
                    <button class="update_delete" onclick="deleteFunction('{{receita.id}}', '{{receita.titulo}}')">Apagar</button>
                </div>
            </div>
        </div>
    {% endfor %}
    
        </div>
    </div>

    {% if page_obj.has_previous or page_obj.has_next %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> <i class="bi bi-arrow-left"></i></a>
        {% endif %}
        <span>{{ page_obj.number }} de {{ page_obj.paginator.num_pages }} </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> <i class="bi bi-arrow-right"></i></a>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}