{% extends 'base.html' %}
{% block title %}Redefinir senha{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bloco-criar">
            <h3>Senha alterada com sucesso</h3>
            <p>Sua senha foi alterada. Você já pode fazer seu login agora.</p>
            <a href="{% url 'login' %}"><input type="button" value="Login" class="btn btn-primary"></input></a>
        </div>
    </div>
</div>

{% endblock %}