{% extends 'base.html' %}
{% block title %}Redefinir senha{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bloco-criar">
            {% if validlink %}
                <h3>Digite a nova senha</h3>
                <h5>Por favor, informa sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</h5>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" value="Atualizar senha" class="btn btn-primary">
                </form>
            {% else %}
            <h3>Link incorreto ou invalido</h3>
            <p>
                O link que você usou é invalido, possivelmente ele já foi utilizado. Por favor solicite um novo.
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}