a{
    text-decoration: none;
}

hr{
    color:#312a29;
}
h1{
    letter-spacing: 2px;
}

h1, h5{
    color: #312a29;
}

h2, h3, h4{
    color: #a66d38;
}


/* body */
body{
    color:rgb(65, 49, 34);
    padding-top: 55px;
    font-family: "Open Sans",sans-serif;
    background-color: #eeece6;
}

.requiredField {

    font-size: 20px;
    font-weight: 600;
}


/*nav bar*/
.navbar {
    position: fixed;
    z-index: 1;
    top: 35px;
    width: 100%;
  }

.navbar-right{
    padding-right: 20px;
}

.btn-navbar{
    background-color: rgb(65, 49, 34);
    color:white;
    transition: 0.5s;
}

.btn-navbar:hover{
    background-color: #242021;
    color:white;
}

/*header */

.header-container{
    width: 100%;
    height: 35px;
    top:0;
    position: fixed;
    z-index: 1;
    background-color: #242021;
    padding-top: 7px;
    padding-left: 5px;
}

.category-link{
    color:#ceb780;
    padding-left: 1%;
    transition: 0.5s;
}

.category-link:hover{
    color:white;
}

.header-img{
    height: 250px;
    width: 100%;
}

/* Pagina inicial */

.home-page{
    padding-left: 2%;
    padding-top: 10px;
}

#title-home{
    padding-top: 10px;
    float: left;
}

.blocos-receita{
    display: inline-table;
    padding-bottom: 5%;
}

.blocos-receita a:hover{
    color:rgb(0, 0, 0);
}

.bloco-info-receita{
    background-color: white;
    border-right: 4px solid rgba(128, 128, 128, 0.200);
    border-bottom: 4px solid rgba(128, 128, 128, 0.200);
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    min-width: 40vh;
    max-width: 80vh;
    height: 70%;
    text-align: center;

}

.bloco-info-receita:hover{
    border-right: 3px solid #242021;
    border-bottom: 3px solid #242021;
    border-radius: 5px;
}

.imagem-comida{
    height: auto;
    max-height: 40vh;
    min-height: 35vh;
    width: 100%;
}

.titulo-comida{
    font-weight: 600;
    margin-top: 2%;
    color: rgb(65, 49, 34);
}

.info-receita{
    text-align: left;
    font-size: 15px;
    padding-left: 1%;
    color: rgb(65, 49, 34)
}

.td-title{
    font-weight: 600;
}

.pagination{
    margin-left: 50%;
    margin-right: auto;
    font-size: 20px;
}

.pagination a{
    color: #242021;
}

/* Buscar */
.div-search{
    width: 30%;
    min-width: 250px;
    border: 3px solid #312a29;
    margin-bottom: 2%;
    margin-right: 5%;
    padding: 3%;
    float:right;
}
.title-categoria{
    font-size: 25px;
}

.link-categoria{
    text-decoration: none;
    padding-left: 5px;
    color:#312a29;
}

.btn-drop{
    padding-left: 4px;
}


/* Detail */
.titulo-detail{
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 2%;
}

.div-imagem-detail{
    margin-right: auto;
    margin-left: auto;
}

.imagem-detail{
    height: 90%;
    width: 90%;
}

.detail-info{
    margin-bottom: 2%;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

.tr-strong{
    font-weight: 600;
    padding-right: 3px;
}

.div-dica{
    margin-bottom: 5%;
    margin-top: 5%;
}
.modo-de-preparo{
    line-height: 1.6;
}

/* criar nova*/

.bloco-criar{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#hint_id_ingredientes{
    font-weight: 500;
}

#div_id_imagem{
    width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#div_id_modo_de_preparo{
    margin-top: 10px;
}

.django-ckeditor-widget{
    display: inline !important;
}
#div_id_titulo{
    padding-bottom: 10px;
}

#div_id_dificuldade{
    width: 25%;
    padding-bottom: 10px;
}

#div_id_categoria{
    width: 25%;
    margin-right: 42%;
    float: right;
}

#div_id_rendimento{
    width: 25%;
    margin-right: 10%;
    margin-top: -80px;
    float: right;
}
/* minhas */

.minha-page{
    padding-left: 2%;
    text-align: left;
    margin-top: 40px;
}
.center{
    text-align: center;
}

.perfil{
    display: inline-block;
    width: 80%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: start;
    padding: 2% 5%;
    border: 3px solid #522215;
}

.perfil h2{
    font-size: 40px;
    letter-spacing: 2px;
}

.table-perfil{
    line-height: 2;
}

#title-minhas{
    font-size: 40px;
}

.botoes{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#editar{
    margin-right: 10%;
}

.sem-receita{
    padding-bottom: 10%;
}



/* primary button */

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    margin-top: 1%;
    float: right;
    padding: 1% 5%;
    background-color: #a66d38 !important;
    border-color: #a66d38 !important;
    box-shadow: none !important;
    outline:none !important;
    color: #eeeeee;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #452515 !important;
    border-color: #452515 !important;
    color: white !important;;
}



/*footer*/

footer{
    height: 400px;
    width: 100%;
    margin-top: 200px;
    border-top: 7px solid #a66d38;
    background-color: #242021;
    color:white;
    text-align: center;
}
footer img{
    height: 150px;
}

.div-footer{
    padding-top: 80px;
}

.div-footer p{
    color: #e0dbcc;
    padding-top: 20px;
}
.div-footer a{
    color: #eeece6;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div-footer a:hover{
    color:#a66d38;
}

/* sobre */
.sobre{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}