a{
    text-decoration: none;
}

hr{
    color:#312a29;
}
h1{
    letter-spacing: 2px;
}

h1, h5{
    color: #312a29;
}

h2, h3, h4{
    color: #a66d38;
}


/* body */
body{
    color:rgb(65, 49, 34);
    padding-top: 55px;
    font-family: "Open Sans",sans-serif;
    background-color: #eeece6;
}

.requiredField {

    font-size: 20px;
    font-weight: 600;
}


/*nav bar*/
.navbar {
    position: fixed;
    z-index: 1;
    top: 35px;
    width: 100%;
  }

.navbar-right{
    padding-right: 20px;
}

.btn-navbar{
    background-color: rgb(65, 49, 34);
    color:white;
    transition: 0.5s;
}

.btn-navbar:hover{
    background-color: #242021;
    color:white;
}

/*header */

.header-container{
    width: 100%;
    height: 35px;
    top:0;
    position: fixed;
    z-index: 1;
    background-color: #242021;
    padding-top: 7px;
    padding-left: 5px;
}

.category-link{
    color:#ceb780;
    padding-left: 1%;
    transition: 0.5s;
}

.category-link:hover{
    color:white;
}

.header-img{
    height: 250px;
    width: 100%;
}

/* Pagina inicial */


.home-page{
    padding-top: 10px;
}

#title-home{
    margin-top: 50px;
    float: left;
}

.card {
    max-width: 350px;
    min-width: 250px;

    max-height: 560px;
    min-height: 500px;
    cursor: pointer;
    margin: 30px; 
    transition: 0.3s;
}


.card:hover {
    border: 1px solid #312a29;
    transform: translateY(-10px); 
}

.imagem-comida{
    height: 35vh;
    width: 100%;
}

.titulo-comida{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: rgb(65, 49, 34);
}

.info-receita{
    text-align: left;
    font-size: 16px;
    padding-left: 1%;
    color: rgb(65, 49, 34)
}

.td-title{
    font-weight: 600;
}

.pagination{
    margin-left: 50%;
    margin-right: auto;
    font-size: 20px;
}

.pagination a{
    color: #242021;
}

/* Buscar */
.div-search{
    width: 30%;
    min-width: 250px;
    border: 3px solid #312a29;
    border-radius: 4%;
    margin-bottom: 2%;
    margin-right: 5%;
    padding: 2%;
    float:right;
}
.title-categoria{
    font-size: 25px;
}

.link-categoria{
    text-decoration: none;
    padding-left: 5px;
    color:#312a29;
}

.btn-drop{
    padding-left: 4px;
}


/* Detail */
.titulo-detail{
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 2%;
}

.imagem-detail{
    max-width: 850px;
    max-height: 450px;

    min-width: 580px;
    min-height: 300px;
}

.detail-info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-ingredientes{
    padding: 50px;
    background-color: #eca25d33;
    border-radius: 4%;
}

table {
    width: 100%;
}

.tr-strong{
    font-weight: 600;
    padding-right: 3px;
}
.div-dica{
    margin-top: 10px;
    margin-bottom: 10px;
}
.modo-de-preparo{
    margin-top: 10px;
    line-height: 1.6;
}

/* criar nova*/

.bloco-criar{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    margin-bottom: 20px;
}

#hint_id_ingredientes{
    font-weight: 500;
}

.add-more{
    display: flex;
    justify-content: center;
}

#div_id_imagem{
    width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#div_id_modo_de_preparo{
    margin-top: 10px;
}

.django-ckeditor-widget{
    display: inline !important;

}
#div_id_titulo{
    padding-bottom: 10px;
}

#div_id_dificuldade{
    width: 25%;
    padding-bottom: 10px;
}

#div_id_categoria{
    width: 25%;
    margin-right: 42%;
    float: right;
}

#div_id_rendimento{
    width: 25%;
    margin-right: 10%;
    margin-top: -80px;
    float: right;
}
/* minhas */

.minha-page{
    padding-left: 2%;
    text-align: left;
    margin-top: 40px;
}
.center{
    text-align: center;
}

.perfil{
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-perfil{
    line-height: 2;
}

#title-minhas{
    font-size: 40px;
    margin-top: 50px;
}

.botoes{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.update_delete{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #312a29;
    text-decoration: underline;

}



.sem-receita{
    padding-bottom: 10%;
}



/* primary button */

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    margin-top: 1%;
    float: right;
    padding: 1% 5%;
    background-color: #a66d38 !important;
    border-color: #a66d38 !important;
    box-shadow: none !important;
    outline:none !important;
    color: #eeeeee;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #452515 !important;
    border-color: #452515 !important;
    color: white !important;;
}



/*footer*/

footer{
    height: 400px;
    width: 100%;
    margin-top: 200px;
    border-top: 7px solid #a66d38;
    background-color: #242021;
    color:white;
    text-align: center;
}
footer img{
    height: 150px;
}

.div-footer{
    padding-top: 80px;
}

.div-footer p{
    color: #e0dbcc;
    padding-top: 20px;
}
.div-footer a{
    color: #eeece6;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div-footer a:hover{
    color:#a66d38;
}

/* sobre */
.sobre{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* MOBILE */
@media (max-width: 425px) {
    .imagem-detail{
        max-width: 425px;
        max-height: 350px;
    
        min-width: 400px;
        min-height: 300px;
    }

    .imagem-comida {
        height: 15vh;
        width: 100%;
    }

    #title-minhas{
        font-size: 35px;
        margin-top: 50px;
    }

    .titulo-detail{
    font-size: 35px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 2%;
}
    
}
